# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editores / sistema
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local
